{% extends "base.html" %}

{% block content %}
 <section class="hero">
    <h2>Story Time</h2>

  <ul class="post-list">
  {% for post in posts %}
    <li class="post-card">
      <a class="post-link" href="{{ url_for('blog_post', slug=post.slug) }}">
        <div class="thumb">
          {% if post.image %}
            <img src="{{ url_for('static', filename=post.image) }}" alt="">
          {% else %}
            <div class="thumb-placeholder"></div>
          {% endif %}
        </div>

        <div class="info">
          <h3 class="post-title">{{ post.title }}</h3>
          {% if post.excerpt %}
            <p class="post-excerpt">{{ post.excerpt }}</p>
          {% endif %}
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
</section>

 
{% endblock %}


